<!DOCTYPE html>
<html>
    <head>
        <title>Villager Consumables</title>
        <link rel="stylesheet" text="text/css" href="css/style.css">
    </head>
    <body>
        <header class = 'mainHeader'>Villager Consumables</header>
        <div class="myOptions">
                <button class="button" onclick="window.location.href='signUp.html'"><span>Sign up </span></button>
                <button class="button" onclick="window.location.href='signIn.html'"><span>Sign in </span></button>
        </div>
    </body>
</html> 