<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HappyLittleHTML</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <h1 class="text-center mainHeader" style="color: #A78F2E;font-size: 56px;font-family: Montserrat, sans-serif;margin-top: 0px;padding-top: 41px;margin-bottom: 28px;margin-left: -9px;">BAYANETWORK</h1>
    <h2 class="text-center" style="color: rgb(255,255,255);">Register as Resident</h2>
    <div class="form-group text-center" style="font-family: Roboto, sans-serif;font-size: 25px;padding-top: 24px;"><label style="color: rgb(255,255,255);">Username: &nbsp; &nbsp;</label><input class="border rounded border-light" type="text" required="" style="padding-top: 2px;"></div>
    <div class="form-group text-center" style="font-family: Roboto, sans-serif;font-size: 25px;padding-top: 3px;"><label style="color: rgb(255,255,255);">Password: &nbsp; &nbsp;&nbsp;</label><input class="border rounded border-light" type="text" required="" style="padding-top: 2px;"></div>
    <div class="form-group text-center" style="font-family: Roboto, sans-serif;font-size: 25px;padding-top: 3px;"><label style="color: rgb(255,255,255);">E-mail: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label><input class="border rounded border-light" type="text" required="" style="padding-top: 2px;" inputmode="email"></div>
    <div class="form-group text-center"
        style="font-family: Roboto, sans-serif;font-size: 25px;padding-top: 3px;"><label style="color: rgb(255,255,255);">First Name: &nbsp; &nbsp;</label><input class="border rounded border-light" type="text" required="" style="padding-top: 2px;"></div>
    <div class="form-group text-center" style="font-family: Roboto, sans-serif;font-size: 25px;padding-top: 3px;"><label style="color: rgb(255,255,255);">Last Name: &nbsp; &nbsp;&nbsp;</label><input class="border rounded border-light" type="text" required="" style="padding-top: 2px;"></div>
    <div class="text-center">
        <div class="form-check" style="color: rgb(255,255,255);font-size: 0px;font-family: Roboto, sans-serif;"><input class="form-check-input" type="radio" id="formCheck-1" style="font-family: Roboto, sans-serif;margin-left: -18px;margin-right: 2px;margin-top: 10px;padding-left: 4px;"><label class="form-check-label" for="formCheck-1" style="font-family: Roboto, sans-serif;font-size: 25px;">Male</label></div>
        <div
            class="form-check" style="color: rgb(255,255,255);font-size: 0px;font-family: Roboto, sans-serif;margin-left: 23px;padding-bottom: 13px;"><input class="form-check-input" type="radio" id="formCheck-1" style="font-family: Roboto, sans-serif;margin-left: -18px;margin-right: 2px;margin-top: 10px;padding-left: 4px;"><label class="form-check-label" for="formCheck-1" style="font-family: Roboto, sans-serif;font-size: 25px;">Female</label></div>
    </div>
    <div class="form-group text-center" style="font-family: Roboto, sans-serif;font-size: 25px;padding-top: 3px;"><label style="color: rgb(255,255,255);">Birthday: &nbsp; &nbsp; &nbsp; &nbsp;</label><input type="date"></div>
    <div class="form-group text-center" style="font-family: Roboto, sans-serif;font-size: 25px;padding-top: 3px;margin-left: -76px;"><label style="color: rgb(255,255,255);">Complete Address: &nbsp;</label><input class="border rounded border-light" type="text" required="" style="padding-top: 2px;"></div>
    <div class="form-group text-center" style="font-family: Roboto, sans-serif;font-size: 25px;padding-top: 3px;margin-left: 200px;"><label style="color: rgb(255,255,255);">Upload Files: &nbsp; &nbsp;&nbsp;</label><input type="file"></div><button class="btn btn-primary" type="button" style="margin-left: 546px;font-family: Roboto, sans-serif;background-color: #F95A37;font-size: 30px;margin-top: 34px;margin-bottom: 41px;">Send for Approval</button>
    <script
        src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>