<!DOCTYPE html>
<html>
    <head>
        <title>Villager Consumables</title>
        <link rel="stylesheet" text="text/css" href="css/style.css">
        <link rel="stylesheet" text="text/css" href="css/styleSignIn.css">
    </head>
    <body>
        <header class = 'mainHeader'>Villager Consumables</header>
        <form>
            <div class = "container">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Username" name="username" required>
                <br>
                <label for="password"><b>Password</b></label>
                <input type="text" placeholder="********" name="password" required>
                <!-- <input type="hidden"> -->
            </div>
            <div class = "submit">
                <button type="submit" value="signin">Sign In</button>
            </div>
        </form>
    </body>
</html>