<nav class="navbar navbar-light navbar-expand-md navigation-clean">
  <div class="container">
    <a class="navbar-brand" href="#" style="font-size: 36px;">BAYANETWORK</a
    ><button
      data-toggle="collapse"
      class="navbar-toggler"
      data-target="#navcol-1"
    >
      <span class="sr-only">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation">
          <a
            class="nav-link active"
            href="/"
            style="font-size: 36px;"
            >GL</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="./M1.html" style="font-size: 36px;"
            >M1</a
          >
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="./M2.html" style="font-size: 36px;"
            >M2</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>